#ferramenta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

#ferramenta h1 {
    color: aliceblue;
    margin-bottom: 20px;
}

#fileInputDados,
#fileInputSip,
#fileInputCep,
#fileInputVoz,
#pProcessandoDados,
#btnCriarArquivo,
#btnDados {
    display: none;
}

#pProcessandoDados {
    color: aliceblue;
}