#ferramenta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

#ferramenta h1 {
    color: aliceblue;
    margin-bottom: 20px;
}

#pProcessando {
    color: aliceblue;
}

#fileInput, #pProcessando, #btn {
    display: none;
}