#ferramenta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#ferramenta h1 {
    color: aliceblue;
    margin-bottom: 20px;
}

#fileInput, #loader {
    display: none;
}

#p {
    display: none;
    color: aliceblue;
}