body {
    background-color: #242424;
    display: flex;
    gap: 100px;
}

aside {
    display: flex;
    flex-direction: column;
}

#FDVDrop, #MapaParqueDrop, #ParqueBasicaDrop, #DivisorDrop {
    width: 150px;
    border: none;
    background-color: #555675;
    cursor: pointer;
    height: 30px;
    border-radius: 0 10px 0 0;
    outline: none;
    color: aliceblue;
    border-bottom: 2px solid aliceblue;
}

#MapaParqueDrop, #ParqueBasicaDrop, #DivisorDrop {
    border-radius: 0;
}

#FDVOptions a:last-child, #MapaParqueOptions a:last-child, #ParqueBasicaOptions a:last-child, #DivisorOptions a:last-child {
    border-bottom: 2px solid aliceblue;
}

#FDVOptions a, #MapaParqueOptions a, #ParqueBasicaOptions a, #DivisorOptions a {
    display: block;
    width: 150px;
    padding: 10px 0 10px 20px;
    transition: .4s;
}

#FDVOptions a:hover, #MapaParqueOptions a:hover, #ParqueBasicaOptions a:hover, #DivisorOptions a:hover {
    background-color: aliceblue;
    color: #262749;
}

.hide {
    display: none;
}

.desactive {
    color: aliceblue;
    background-color: #262749;
}

.active {
    background-color: aliceblue;
    color: #262749;
}

#home {
    font-size: 2rem;
    margin: 25px 50px;
    color: aliceblue;
    display: block;
    width: max-content;
    background-color: transparent;
}