body {
    background-color: #242424;
    display: flex;
    gap: 100px;
}

aside {
    display: flex;
    flex-direction: column;
}

i {
    margin-right: 15px;
}

label i {
    margin-right: 0;
    margin-left: 5px;
}

#FDVDrop, #MapaParqueDrop, #ParqueBasicaDrop, #DivisorDrop, #EmpresAquiDrop {
    width: 150px;
    border: none;
    background-color: #555675;
    cursor: pointer;
    height: 30px;
    border-radius: 0 10px 0 0;
    outline: none;
    color: aliceblue;
    border-bottom: 2px solid aliceblue;
}

#MapaParqueDrop, #ParqueBasicaDrop, #DivisorDrop, #EmpresAquiDrop {
    border-radius: 0;
}

#FDVOptions a:last-child, #MapaParqueOptions a:last-child, #ParqueBasicaOptions a:last-child, #DivisorOptions a:last-child, #EmpresAquiOptions a:last-child {
    border-bottom: 2px solid aliceblue;
}

#FDVOptions a, #MapaParqueOptions a, #ParqueBasicaOptions a, #DivisorOptions a, #EmpresAquiOptions a {
    display: block;
    width: 150px;
    padding: 10px 0 10px 20px;
    transition: .4s;
}

#FDVOptions a:hover, #MapaParqueOptions a:hover, #ParqueBasicaOptions a:hover, #DivisorOptions a:hover, #EmpresAquiOptions a:hover {
    background-color: aliceblue;
    color: #262749;
}

.labelFileInput {
    min-width: 250px;
    width: max-content;
    height: 50px;
    padding: 0 10px;
    background-color: #883397;
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.btns {
    display: block;
    border: none;
    background-color: #7089aa;
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 25px;
}

.hide {
    display: none;
}

.desactive {
    color: aliceblue;
    background-color: #262749;
}

.active {
    background-color: aliceblue;
    color: #262749;
}

#home {
    font-size: 2rem;
    margin: 25px 50px;
    color: aliceblue;
    display: block;
    width: max-content;
    background-color: transparent;
}