#pProcessando {
    color: aliceblue;
}

.fileInput,
#pProcessando,
#btn, #loader {
    display: none;
}

.toggle {
    display: none;
}

.toggle + label {
    width: 40px;
    height: 24px;
    background-color: lightgrey;
    display: block;
    position: relative;
    border-radius: 20px;
    padding: 2px;
    transition: 200ms;
    cursor: pointer;
}

.toggle + label:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    display: block;
    border-radius: 50%;
    right: unset;
    left: 2px;
    top: 2px;
    transition: 200ms;
}

.toggle:checked + label {
    background-color: purple;
}

.toggle:checked + label:before {
    content: '';
    left: calc(100% - 22px);
    box-shadow: 0 4px 4px rgb(0, 0, 0/10%);
}

#checkboxDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#checkboxDiv p {
    font-weight: 500;
    color: aliceblue;
}